$red = #EB5858
$green = #63DBC1
$blue = #319BF5
$yellow = #FFA20A
$black = #28313B
$dark-grey = #97A4B1
$light-grey = #E8EEF4
$error = #D0011B //vermelho
$warning = #FFA20A //amarelo
$notification = #319BF5 //azul 