$red = #EB5858
$blue = #319BF5

$yellow = #FFA20A

$black = #28313B
$green-dark = #2F2D48
$green-light = #2D4848
$green-secondary = #1AB413
$green-tertiary = #333A52

$green = #099D1C
$green-dark = #045C2B
$green-light = #11B43F
$green-secondary = #334A52
$green-tertiary = #32AA0C

$orange = #FF880D
$orange-dark = #E56B00
$orange-light = #FC9F2E
$orange-secondary = #FC7108
$orange-tertiary = #F26D19



