@import "profileImageName"
@import "cardMotivation"
@import "progressForm"

@import "aboutUs"
@import "titleAndSubtitle"

@import "numberLikes"
@import "buttonIcon"
@import "searchBar"
@import "cardMotivation"
@import "cardDepoiment"

