.card-depoiment
	padding-left 30px

	>.box-picture
		padding-left 30px
		position relative
		>.image
			
			top 40px			
			width 80px
			height 80px
			border-radius 50%

	>.card-text
		border 1px solid #000
		padding-top 50px
		padding-right 10px
		padding-bottom 8px 
		padding-left 10px
		border-radius 10%
		position static
		width 280px
