.card-depoiment
	margin-top 15px
	>.box-picture
		padding-left 30px
		position relative
		>.image
			
			position absolute
			top -15px
			border-radius 50px
			height 60px
	>.card-text
		border 1px solid #000
		padding-top 50px
		padding-right 30px
		padding-bottom 10px 
		padding-left 30px
		border-radius 20px
		max-height 280px 
		overflow-y auto
		margin-bottom 10px
		margin-top 10px
		>.date
			font-weight normal
			font-size .7em
			margin-bottom 5px
			margin-top 3px
			color $black
		// >.depoiment-text
		// 	max-height 250px
