.card-motivation
	max-height 110px
	max-width 100%
	flexDirection()
	>.image 
		display inline
		border none
		max-width 120px
		max-height 100%
	>.card-texts
		display inline-block
		flexDirection("column")
		flexJC("space-between")
		>.subtitle
		>.card-motivation-text
			display block
			padding 2px 15px 5px
			max-height 80px
			overflow auto
		