.paginator
	
	>.container-prev
		display inline-block
		float left
		>.prev
			transform rotate(90deg)
	>.container-next	
		display inline-block
		float right
		>.next
			transform rotate(270deg)
	>.container-prev
	>.container-next	
		>.next
		>.prev
			width 30px
			height 30px
			vertical-align middle
			