.progress-form
	margin 100px
	>.icon
		height 15px
		width 15px
		margin 0 2px
		will-change auto
	>.selected
		transform scale(1.5, 1.5)
		margin 0 4px
		-webkit-animation mymove 1s  
		animation mymove 1s 
		transform scale(2, 2)
		
	@-webkit-keyframes mymove {
		0% {transform: scale(1, 1)}
		25% {-webkit-transform: rotateX(200deg)}
		50% {transform: scale(1.25, 1.25)}
		75% {-webkit-transform: rotateX(360deg)}
		100% {transform: scale(2, 2)}
	}
	@keyframes mymove {
		0% {transform: scale(1, 1)}
		25% {transform: rotateX(200deg)}
		50% {transform: scale(1.25, 1.25)}
		75% {transform: rotateX(360deg)}
		100% {transform: scale(2, 2)}
	}