.wrapper-modal
	position fixed
	width 100%
	height 100vh
	background-color rgba(black, .7)
	z-index 1
	will-change opacity
	&.closing
		margin 0 4px
		-webkit-animation fadout .5s  
		animation fadout .5s 
		>.modal
			-webkit-animation rotate .5s  
			animation rotate .5s 
			will-change transform
		
		

	> .modal 
		position relative
		margin auto
		top: 50%
		transform: translateY(-50%) 
		width 420px
		max-height 100vh
		max-width 100%
		background-color white
		z-index 101
		fade("in", .3s)
		shadow()
		
		> .header
			padding 30px
			position relative
			background-color: $orange-light
			
			> .title-page
				font-size 1.5em
				color #FFF
				font-weight 400
				
			> .close
				position absolute
				top 20px
				right 20px
				cursor pointer
				>.icon
					width 25px
					height 25px
				
				&.-hide
					display nonez
		
		> .main
			position relative
			max-height calc(90vh - 80px)
			overflow-y hidden
			scroll($dark-grey)
			
	@media screen and (max-width:992px)
		&.closing
			margin 0 4px
			-webkit-animation fadout .5s  
			animation fadout .5s 
			>.modal
				-webkit-animation rotate .5s  
				animation rotate .5s 
				will-change transform
		> .modal 
			width 100%
			height 100vh
			will-change opacity
			position relative
			background-color white
			z-index 101
			fade("in", .3s)
			shadow()
			
			> .header
				padding 30px
				position relative
				background-color: $orange-light
				
				> .title-page
					font-size 1.5em
					color #FFF
					font-weight 400
					vertical-align middle
					
				> .close
					position absolute
					top 20px
					right 20px
					cursor pointer
					vertical-align middle
					>.icon
						width 25px
						height 25px
						vertical-align middle
					
					&.-hide
						display none
			> .main
				position relative
				max-height 100%
				height calc(100% - 84px)
				scroll($dark-grey)
		
			
	&.-hide
		display none

	&.-error
		> .modal
			background-color $error

	&.-red
		> .modal 
			background-color $error
			
	&.-green
		> .modal
			background-color $green
			color #FFF
	
	@keyframes rotate {
		0% {
			transform: translate(0px, -50%)
		}
		100% {
			transform: rotateZ(999deg) translate(-1000px, -50%) 
		}
	}
	
	@keyframes fadout {
		0% {
			opacity 1
		}
		100% {
			opacity 0
		}
	}