.coursel
	position relative
	>.children
		display inline-block
		margin-left 21px
		margin-right 21px
		width calc(100% - 42px)
		
	>.next
	>.prev
		display inline-block
		vertical-align middle
		position absolute
		top 0
		bottom 0
		margin auto
		height 35px
		width 35px
		border-radius 50px
		background-color #FFF
		
	>.next
		transform rotate(270deg) translateY(-34px)

	>.prev
		transform rotate(90deg)
