	.menu-option
		border 1px solid
		height 300px
		width 200px
	.icon
		height 50px
		vertical-align middle
		margin 10px
		
	.settings	
		width 50px
		padding 3px
		
		
	.seguir	
		width 50px
		padding 3px
	.sair
		width 50px
		padding 3px

.pic
	border-radius 50% 
	width 50px		
	vertical-align middle
	margin 10px
	