.sub-header
	border-top 1px solid $black
	border-bottom 1px solid $black
	height 40px
	>.newPost
		max-height 38px
		border none
	>.box-picture
		float right
		height 38px
		display inline-bLock
		cursor pointer
		>.image
			border none
			height 38px