.home-template
	width 100%
	height 100vh
	background-image url("/assets/images/background-image.png")
	background-repeat no-repeat
	background-attachment fixed
	background-position center center
	color #FFF
	text-align center
	overflow-y hidden
	overflow-x hidden
	@media screen and (max-width:992px)
		background-size 620px
	>.back-image
		width 100%
		height 100vh
		background-color rgba(#000, .6)
		>.basic-information
			position absolute
			margin auto 
			top 0
			bottom 0
			width 100%
			height 55px
			// >.home-title
			// 	margin
			
		>.about-us
			>.more-information
				text-align center
				position absolute
				bottom 0
				width 100%
				.learn-more
					cursor pointer
					color #FFF
					.icon
						width 55px
a[ id="aboutUsContainer" ]:target ~ #about-us article.aboutUs
	transform: translateY( 134px );
