.informations
	overflow-x hidden
	padding-right 15px
	padding-left 15px
	>.carousel-title
		font-size 1.5em
		display block
		text-align center
		margin-top 15px
	
	>.informations-card-motivation
		margin-top 5px
	
	>.informations-carousel
		margin-top 30px
		>.informations-card-depoiment
			background-color: #FFF
	
	>.about-us-group
		margin-top 20px
