.informations
	padding-right 15px
	padding-left 15px
	>.carousel-title
		font-size 1.5em
		display block
		text-align center
		margin-top 15px
	
	>.informations-card-motivation
		margin-top 5px
		padding 20px 0
		border-bottom 1px solid
		>.card-texts
			>.subtitle
				font-weight 500
	
	>.informations-carousel
		margin-top 30px
		text-align center
		.children
			max-width 600px
			text-align left
			.informations-card-depoiment
				background-color: #FFF
				.card-text
					.subtitle
						font-weight 400
					.depoiment-text
						padding-bottom 25px
	
	>.about-us-group
		margin-top 50px
		margin-bottom 50px
