.signup-modal
	.signup-modal-body
		.subtitle-page
			font-size 1.2em
			text-align center
			font-weight 400
			margin-top 10px
			
		.input-group
			margin-top 10px
			margin-bottom 10px
			>.input-group-children
				margin-top 5px
				input
					height 40px
					font-size 1em
					font-weight 300
				.listOptions
					z-index 5
					max-height 100px
					overflow auto
		.paginator
			margin-top 40px
			font-size .9em
			.container-prev
				transform translateX(-20px)
			.container-next
				transform translateX(20px)
			.icon
				height 30px
				width 30px
				
	@media screen and (max-width:992px)
		.signup-modal-body
			.subtitle-page
				font-size 1.2em
				text-align center
				font-weight 400
				margin-top 10px
				margin-bottom 10px
				
			.input-group
				margin-top 10px
				margin-bottom 10px
				>.input-group-children
					margin-top 5px
					input
						height 40px
						font-size 1em
						font-weight 300
			.paginator
				margin-top 35px
				font-size .8em
				position relative
				.container-prev
					transform translateX(-25px)
				.container-next
					transform translateX(25px)
				.icon
					height 30px
					width 30px