.success-modal
	> .modal
		> .header
			background-color: $green-light
		> .success-modal-body
			margin-top 20px
			text-align center
			.goal
				font-size 2em
				font-weight 600
				display block
			.message
				display block
				font-size 1.2em
			.icon
				height 100px
				width 100px
			.button
				margin 20px
				background-color: $green
				color #FFF
				border-color $green
				font-weight 500